.header {
	width: 100%;
	height: 200px;
}
.nav {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.logo {
	font-size: 16px;
	font-weight: bold;
	letter-spacing: -1px;
}
.navList {
	display: flex;
	align-items: center;
	list-style: none;
}
.navItem {
	font-weight: bold;
	text-transform: uppercase;
	position: relative;
}
.navItem:not(:first-child) {
	margin-left: 20px;
}

.navItem::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -4px;
	background-color: var(--black);
	width: 100%;
	height: 3px;
	transform: scaleX(0);
	transform-origin: left;
	transition: var(--main-transition);
}
.navItem:hover::after {
	transform: scaleX(1);
}
