.footer {
	width: 100%;
	height: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.link {
	text-decoration: underline;
	margin: 20px 0;
}
.contactList {
	width: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
}
